<% if notice %>
  <div class="relative px-4 py-3 mb-4 text-green-700 bg-green-50 rounded border border-green-200" role="alert">
    <span class="block sm:inline"><%= notice %></span>
  </div>
<% end %>

<% if alert %>
  <div class="relative px-4 py-3 mb-4 text-red-700 bg-red-50 rounded border border-red-200" role="alert">
    <span class="block sm:inline"><%= alert %></span>
  </div>
<% end %>
